*{
    box-sizing: border-box;
    /* background-color: #ededed; */

}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.Piano{
    position: relative;
    width: 1000px;
    background-color: orange;
    border-radius: 10px;
    padding: 10px 30px 20px 30px;
}

.key{
    cursor: pointer;
    text-align: center;
    justify-content: center;
    color: aliceblue;

}

.white-keys{
    display: flex;
    position: relative;
}

.white-keys .key{
    display: flex;
    height: 230px;
    width: calc(100% / 14);
    background: white;
    border:  2px solid rgb(59, 51, 51);
    box-shadow: 0 5px 0 black;
    border-radius: 0 0 5px 5px;
    color: black;
    padding-top: 198px ;
    
    
}

.white-keys .key:hover{
    height: 240px;
    box-shadow:0 2px 0 black,inset 0 0 5px black;
    transform: translateY(5px);
    margin-top: -5px;
    background: white; 

}

.black-keys{
    position: absolute;
    display:flex;
    left: 0;
    right: 0;
    z-index:99; 
}
.black-keys .key{
    position: absolute;
    height: 180px;
    width:40px ;
    background: black;
    border-radius: 0 0 5px 5px;
    left: 20px; 
    padding-top:130px ;
}

.black-keys .key:nth-child(1){left: 76px;} 
.black-keys .key:nth-child(2){left: 144px;} 
.black-keys .key:nth-child(3){left: 278px;} 
.black-keys .key:nth-child(4){left: 346px;} 
.black-keys .key:nth-child(5){left: 413px;}  
.black-keys .key:nth-child(6){left: 548px;} 
.black-keys .key:nth-child(7){left: 614px;} 
.black-keys .key:nth-child(8){left: 680px;}
.black-keys .key:nth-child(9){left: 815px;} 
.black-keys .key:nth-child(10){left: 883px;} 

 
